@{
    ViewBag.Title = "Home Page";
}

<div @*class="jumbotron"*@>
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to my Web site ! Please @Html.ActionLink("login", "Login", "Utente") or @Html.ActionLink("sign in", "Registrazione", "Utente") to access to my C# , Asp.Net MVC,  Android (java) , Delphi and T-SQL code examples and demo application !. </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">

        <h2>C #</h2>

        @*ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you full control over markup
        for enjoyable, agile development.*@
        I'm devoloping in C# since 2005. My projects mostly include: <br /><br />
        <li>WinForm applications</li>
        <li>Webservices</li>
        <li>Windows CE app.</li>
       
        <br /><br />
        
        
    </div>
    <div class="col-md-3">
        <h2>Asp.Net MVC</h2>
        <p>I'm now in the middle of my company Web Site restyling, migrating from the "old dear ASP Classic" to the much more performing and interesting ASP.Net MVC !</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">More info and code exaples &raquo;</a></p>*@
    </div>
    <div class="col-md-2">
        <h2>Android (java)</h2>
        <p>How can a developer stay away from Android , even if it's not in the core businnes of your Company ? Some interesting apps involving the use of
        KSOAP libraries to interact with our SQL Server database are doing their job in a brand new environment !</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">More info and code exaples &raquo;</a></p>*@
    </div>
    <div class="col-md-2">
        <h2>Delphi</h2>
        <h2>VB 5-6</h2>
        <p>I've developed Delphi &amp; Visual Basic WinForms applications for about 20 years, and i'm still maintaining several programs which will be not ported in C# due to their lifetime cycle or management decisions.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">More info and code exaples &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h2>T-SQL</h2>
        <p>Almost all my developement is concerned with database operations anda data analysys.</p>
        So i'm proficient in :
        <br />
        <br />
        <li>Database creation.</li>
        <li>Database administration.</li>
        <li>Database migration.</li>
        <li>Tables and Views creation</li>
        <li>Indexes, relationships ,execution plans</li>
        <li>CRUD Operations.</li>
        <li>Stored procedures.</li>
        <li>User defined functions.</li>
        <li>Security : user and server roles    </li>
        <li>Jobs, alerts etc.</li>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">More info and code exaples &raquo;</a></p>*@
    </div>

<br /><br />
<p><a class="btn btn-default" href="~/Utente/Login">More info and code examples by loggin in ! &raquo;</a></p>