
@{
    ViewBag.Title = "Index";
}

<h2>Code examples</h2>
<br />
<div >
    @Html.ActionLink("SQL Examples ", "IndexSQL", "HomeInternal")
    <br />
    <br />
    @Html.ActionLink("C# Examples ", "IndexCSharp", "HomeInternal")

</div>

