
@{
    ViewBag.Title = "SQLCode_02";
}

<h2>T-SQL</h2>

<h2>T-SQL</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/JQuery/JavaScript.js"></script>

@Html.ActionLink("Return to main...", "IndexSQL", "HomeInternal") - Reorganize all indexes in a database
<br />
<br />
<div id="flip">A JQuery script to collapse/expand the query text. CLICK ME !</div>
<br />

<div id="querypanel" class="code">
    <pre style="font-family:Consolas;font-size:13px;color:black;background:white;"><span style="color:green;">/*</span>
 
<span style="color:green;">Could&nbsp;not&nbsp;retrieve&nbsp;the&nbsp;definition&nbsp;of&nbsp;[dbo].[AAA_TMP_Figlie2000]&nbsp;from&nbsp;the&nbsp;server</span>
 
<span style="color:green;">*//*	Riorganizzazione&nbsp;di&nbsp;tutte&nbsp;le&nbsp;statistice&nbsp;su&nbsp;tabelle.&nbsp;</span>
<span style="color:green;">*	</span>
<span style="color:green;">*/</span>
 
<span style="color:blue;">USE</span>&nbsp;[&quot;NomeDB&quot;]&nbsp;
 
<span style="color:green;">/*&nbsp;Lasciare&nbsp;cosi&nbsp;come&nbsp;è...&nbsp;*/</span>
<span style="color:blue;">BEGIN</span>
    <span style="color:green;">/*&nbsp;Dichiaro&nbsp;variabili*/</span>
    <span style="color:blue;">DECLARE</span>&nbsp;@@TableName&nbsp;<span style="color:blue;">varchar</span><span style="color:gray;">(</span>255<span style="color:gray;">)</span>
    <span style="color:blue;">DECLARE</span>&nbsp;@@SQL&nbsp;<span style="color:blue;">NVARCHAR</span><span style="color:gray;">(</span><span style="color:magenta;">MAX</span><span style="color:gray;">)</span>&nbsp;
    <span style="color:blue;">DECLARE</span>&nbsp;TableCursor&nbsp;<span style="color:blue;">CURSOR</span>&nbsp;<span style="color:blue;">FOR</span>&nbsp;
	
 
    <span style="color:green;">--&nbsp;Recupero&nbsp;i&nbsp;nomi&nbsp;di&nbsp;tutte&nbsp;le&nbsp;tabelle&nbsp;associate&nbsp;al&nbsp;DB</span>
    <span style="color:blue;">SELECT</span>&nbsp;table_name&nbsp;<span style="color:blue;">FROM</span>&nbsp;<span style="color:green;">information_schema</span><span style="color:gray;">.</span><span style="color:green;">tables</span>&nbsp;
    <span style="color:blue;">WHERE</span>&nbsp;table_type&nbsp;<span style="color:gray;">=</span>&nbsp;<span style="color:red;">&#39;base&nbsp;table&#39;</span>
    <span style="color:gray;">AND</span>&nbsp;TABLE_NAME&nbsp;<span style="color:gray;">NOT</span>&nbsp;<span style="color:gray;">LIKE</span>&nbsp;<span style="color:red;">&#39;%TEMP%&#39;</span>
    <span style="color:blue;">ORDER</span>&nbsp;<span style="color:blue;">BY</span>&nbsp;table_name&nbsp;&nbsp;
 
    <span style="color:green;">--&nbsp;Inizio&nbsp;ciclo&nbsp;sui&nbsp;tabelle</span>
    <span style="color:blue;">OPEN</span>&nbsp;TableCursor&nbsp;
 
    <span style="color:blue;">FETCH</span>&nbsp;<span style="color:blue;">NEXT</span>&nbsp;<span style="color:blue;">FROM</span>&nbsp;TableCursor&nbsp;<span style="color:blue;">INTO</span>&nbsp;@@TableName&nbsp;
    <span style="color:blue;">WHILE</span>&nbsp;@@FETCH_STATUS&nbsp;<span style="color:gray;">=</span>&nbsp;0	
    <span style="color:blue;">BEGIN</span>&nbsp;
    <span style="color:blue;">SET</span>&nbsp;@@SQL&nbsp;<span style="color:gray;">=</span>&nbsp;<span style="color:red;">N&#39;UPDATE&nbsp;STATISTICS&nbsp;&#39;</span>&nbsp;<span style="color:gray;">+</span>&nbsp;@@TableName
    <span style="color:blue;">EXEC</span>&nbsp;<span style="color:maroon;">sp_executesql</span><span style="color:blue;">&nbsp;</span>@@SQL
    <span style="color:blue;">PRINT</span>&nbsp;@@SQL
    <span style="color:blue;">FETCH</span>&nbsp;<span style="color:blue;">NEXT</span>&nbsp;<span style="color:blue;">FROM</span>&nbsp;TableCursor&nbsp;<span style="color:blue;">INTO</span>&nbsp;@@TableName&nbsp;
    <span style="color:blue;">END</span>&nbsp;
 
    <span style="color:blue;">CLOSE</span>&nbsp;TableCursor
    <span style="color:blue;">DEALLOCATE</span>&nbsp;TableCursor
<span style="color:blue;">END</span>	</pre>
</div>