
@{
    ViewBag.Title = "SQLCode_04";
}

<h2>T-SQL</h2>


@Html.ActionLink("Return to main...", "IndexSQL", "HomeInternal") - Reorganize all statistics in a database
<br />
<br>
<div class="code">
    <pre>/************************************************************
 * Code formatted by SoftTree SQL Assistant © v4.8.29
 * Time: 25/02/2010 16.43.00
 ************************************************************/

SELECT P.ID, P.Flags, P.Telaio, p.[TP Partenza], P.POL, P.[POL Descr.], P.POD, 
       P.[POD Descr.], P.Modello, P.[Mod.Descr], P.[Data Partenza], Q.[TP Arrivo], 
       Q.[N° Q-K], Q.[Data Arrivo], Q.Items, Q.Rottura, Q.Graffio, Q.Scrostatura, 
       Q.Ammaccatura, Q.Imbrattamento, Q.Mancanza, Q.[Mancanze Interne], Q.[Mancanze Esterne], 
       Q.[Danni Interni Totale], Q.[Danni Interni Escluso Mancanze], Q.[Danni Esterni], 
       Q.[Danni non I/E], Q.[Danni FFSS], Q.DRT, Q.WMI, Q.FLU, Q.VAN, Q.CLP, Q.RUS, 
       Q.[Altri Danni], '02/01/2010' AS Data_I, '02/05/2010' AS Data_F, Q.Items_E, 
       Q.Rottura_E, Q.Graffio_E, Q.Scrostatura_E, Q.Ammaccatura_E, Q.Imbrattamento_E, 
       Q.Mancanza_E, Q.[Mancanze Interne_E], Q.[Mancanze Esterne_E], Q.Posizione, 
       Q.Vagone
FROM   (
           SELECT AGR_perizie.ID, telaio, idTipoPerizia AS [TP Partenza], 
                  dataperizia AS [Data Partenza], IdPortL AS POL, P1.Descr AS 
                  [POL Descr.], IdPortD AS POD, P2.Descr AS [POD Descr.], MO.IDModelloCasa AS 
                  Modello, MO.Descr AS [Mod.Descr], AGR_Perizie.Flags
           FROM   agr_perizie ( NOLOCK )
            LEFT JOIN agr_perizie_dett(NOLOCK)
            	ON  agr_perizie.ID = agr_perizie_dett.IDPerizia
            INNER JOIN agr_porti AS P1 ( NOLOCK )
            	ON  agr_perizie.idportl = P1.ID
            INNER JOIN agr_porti AS P2 ( NOLOCK )
            	ON  agr_perizie.idportd = P2.ID
            INNER JOIN agr_ModelliAuto AS MO ( NOLOCK )
            	ON  agr_perizie.IdModello = MO.Id
           WHERE  dataperizia BETWEEN '02/01/2010' AND '02/05/2010'
             AND IDSpedizione = 'F0840004'
             AND idtipoperizia = 'P'
       ) AS P
 LEFT OUTER JOIN (
          SELECT telaio, idtipoperizia AS [TP Arrivo], dataperizia AS 
                 [Data Arrivo], IdPortL AS POL, P1.Descr AS [POL Descr.], 
                 IdPortD AS POD, P2.Descr AS [POD Descr.], MO.IDModelloCasa AS 
                 Modello, MO.Descr AS [Mod.Descr], CASE 
                                                        WHEN COUNT ( agr_perizie_dett.ID ) 
                                                             > 0 THEN '1'
                                                        ELSE ''
                                                   END AS [N° Q-K], (
                     SELECT COUNT ( D.ID )
                     FROM   agr_perizie_dett AS D ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d.Flags & 2048 = 0
                 ) AS Items, (
                     SELECT COUNT ( D1.id )
                     FROM   agr_perizie_dett AS D1 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d1.iddanno = '1' AND d1.Flags & 2048 = 0
                 ) AS Rottura, (
                     SELECT COUNT ( D2.id )
                     FROM   agr_perizie_dett AS D2 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d2.iddanno = '2'
                       AND d2.Flags & 2048 = 0
                 ) AS Graffio, (
                     SELECT COUNT ( D3.id )
                     FROM   agr_perizie_dett AS D3 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d3.iddanno = '3'
                       AND d3.Flags & 2048 = 0
                 ) AS Scrostatura, (
                     SELECT COUNT ( D4.id )
                     FROM   agr_perizie_dett AS D4 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d4.iddanno = '4'
                       AND d4.Flags & 2048 = 0
                 ) AS Ammaccatura, (
                     SELECT COUNT ( D5.id )
                     FROM   agr_perizie_dett AS D5 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d5.iddanno = '5'
                       AND d5.Flags & 2048 = 0
                 ) AS Imbrattamento, (
                     SELECT COUNT ( D6.id )
                     FROM   agr_perizie_dett AS D6 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d6.iddanno = '6'
                       AND d6.Flags & 2048 = 0
                 ) AS Mancanza, (
                     SELECT COUNT ( D7.id )
                     FROM   agr_perizie_dett AS D7 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d7.iddanno = '6'
                       AND d7.flags & 512 <> 0
                       AND d7.Flags & 2048 = 0
                 ) AS [Mancanze Interne], (
                     SELECT COUNT ( D8.id )
                     FROM   agr_perizie_dett AS D8 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d8.iddanno = '6'
                       AND d8.flags & 1024 <> 0
                       AND d8.Flags & 2048 = 0
                 ) AS [Mancanze Esterne], (
                     SELECT COUNT ( D9.id )
                     FROM   agr_perizie_dett AS D9 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d9.flags & 512 <> 0
                       AND d9.Flags & 2048 = 0
                 ) AS [Danni Interni Totale], (
                     SELECT COUNT ( D9b.id )
                     FROM   agr_perizie_dett AS D9b ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d9b.iddanno <> '6'
                       AND d9b.flags & 512 <> 0
                       AND d9b.Flags & 2048 = 0
                 ) AS [Danni Interni Escluso Mancanze], (
                     SELECT COUNT ( D10.id )
                     FROM   agr_perizie_dett AS D10 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d10.flags & 1024 <> 0
                       AND d10.Flags & 2048 = 0
                 ) AS [Danni Esterni], (
                     SELECT COUNT ( D12.id )
                     FROM   agr_perizie_dett AS D12 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d12.flags & 1024 = 0
                       AND d12.flags & 512 = 0
                       AND d12.Flags & 2048 = 0
                 ) AS [Danni non I/E], (
                     SELECT COUNT ( D11.id )
                     FROM   agr_perizie_dett AS D11 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d11.IDAttribuzione IN ( 'DRT', 'FLU', 'WMI', 'VAN', 'CLP', 'RUS' )
                       AND d11.Flags & 2048 = 0
                 ) AS [Danni FFSS], (
                     SELECT COUNT ( D13.id )
                     FROM   agr_perizie_dett AS D13 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d13.IDAttribuzione = 'DRT'
                       AND d13.Flags & 2048 = 0
                 ) AS DRT, (
                     SELECT COUNT ( D14.id )
                     FROM   agr_perizie_dett AS D14 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d14.IDAttribuzione = 'WMI'
                       AND d14.Flags & 2048 = 0
                 ) AS WMI, (
                     SELECT COUNT ( D15.id )
                     FROM   agr_perizie_dett AS D15 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d15.IDAttribuzione = 'FLU'
                       AND d15.Flags & 2048 = 0
                 ) AS FLU, (
                     SELECT COUNT ( D16.id )
                     FROM   agr_perizie_dett AS D16 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d16.IDAttribuzione = 'VAN'
                       AND d16.Flags & 2048 = 0
                 ) AS VAN, (
                     SELECT COUNT ( D17.id )
                     FROM   agr_perizie_dett AS D17 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d17.IDAttribuzione = 'CLP'
                       AND d17.Flags & 2048 = 0
                 ) AS CLP, (
                     SELECT COUNT ( DRUS.id )
                     FROM   agr_perizie_dett AS DRUS ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND DRUS.IDAttribuzione = 'RUS'
                       AND DRUS.Flags & 2048 = 0
                 ) AS RUS, (
                     SELECT COUNT ( D18.id )
                     FROM   agr_perizie_dett AS D18 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d18.flags & 512 = 0
                       AND d18.IDAttribuzione NOT IN ( 'DRT', 'FLU', 'WMI', 'VAN', 'CLP', 'RUS' )
                       AND d18.iddanno <> '6'
                       AND d18.Flags & 2048 = 0
                 ) AS [Altri Danni], (
                     SELECT COUNT ( D19.ID )
                     FROM   agr_perizie_dett AS D19 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d19.Flags & 2048 <> 0
                 ) AS Items_E, (
                     SELECT COUNT ( D20.id )
                     FROM   agr_perizie_dett AS D20 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D20.iddanno = '1'
                       AND D20.Flags & 2048 <> 0
                 ) AS Rottura_E, (
                     SELECT COUNT ( D21.id )
                     FROM   agr_perizie_dett AS D21 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D21.iddanno = '2'
                       AND D21.Flags & 2048 <> 0
                 ) AS Graffio_E, (
                     SELECT COUNT ( D22.id )
                     FROM   agr_perizie_dett AS D22 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D22.iddanno = '3'
                       AND D22.Flags & 2048 <> 0
                 ) AS Scrostatura_E, (
                     SELECT COUNT ( D23.id )
                     FROM   agr_perizie_dett AS D23 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D23.iddanno = '4'
                       AND D23.Flags & 2048 <> 0
                 ) AS Ammaccatura_E, (
                     SELECT COUNT ( D24.id )
                     FROM   agr_perizie_dett AS D24 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D24.iddanno = '5'
                       AND D24.Flags & 2048 <> 0
                 ) AS Imbrattamento_E, (
                     SELECT COUNT ( D25.id )
                     FROM   agr_perizie_dett AS D25 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D25.iddanno = '6'
                       AND D25.Flags & 2048 <> 0
                 ) AS Mancanza_E, (
                     SELECT COUNT ( D26.id )
                     FROM   agr_perizie_dett AS D26 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D26.iddanno = '6'
                       AND D26.flags & 512 <> 0
                       AND D26.Flags & 2048 <> 0
                 ) AS [Mancanze Interne_E], (
                     SELECT COUNT ( D27.id )
                     FROM   agr_perizie_dett AS D27 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D27.iddanno = '6'
                       AND D27.flags & 1024 <> 0
                       AND D27.Flags & 2048 <> 0
                 ) AS [Mancanze Esterne_E], CASE PositionUpper
                                                 WHEN 'L' THEN 'Lower'
                                                 WHEN 'U' THEN 'Upper'
                                                 ELSE 'Unknown'
                                            END AS Posizione, IDWagon AS Vagone
          FROM   agr_perizie ( NOLOCK )
           LEFT JOIN agr_perizie_dett(NOLOCK)
           	ON  agr_perizie.ID = agr_perizie_dett.IDPerizia
           LEFT JOIN agr_perizieexpfiat AS PEF ( NOLOCK )
           	ON  agr_perizie.id = pef.id
           INNER JOIN agr_porti AS P1 ( NOLOCK )
           	ON  agr_perizie.idportl = P1.ID
           INNER JOIN agr_porti AS P2 ( NOLOCK )
           	ON  agr_perizie.idportd = P2.ID
           INNER JOIN agr_ModelliAuto AS MO ( NOLOCK )
           	ON  agr_perizie.IdModello = MO.Id
          WHERE  DataPerizia > '02/01/2010'
            AND IDSpedizione = 'F0840004'
            AND idtipoperizia = 'Q'
          GROUP BY
                 Telaio, idtipoperizia, dataperizia, idportl, idportd, idmodello, 
                 P1.Descr, P1.Descr, P2.Descr, MO.IDModelloCasa, Mo.Descr, 
                 IDDanno, agr_perizie_dett.flags, agr_perizie.ID, PositionUpper, 
                 IDWagon
      ) AS Q
 	ON  P.Telaio = Q.Telaio
    AND P.POL = Q.POL
    AND P.POD = Q.POD
    AND P.Modello = Q.Modello
GROUP BY
       P.ID, P.Flags, P.Telaio, p
       .[TP Partenza], P.POL, P.[POL Descr.], P.POD, P.[POD Descr.], P.Modello, 
       P.[Mod.Descr], P.[Data Partenza], Q.[TP Arrivo], Q.[N° Q-K], Q.[Data Arrivo], 
       Q.Items, Q.Rottura, Q.Graffio, Q.Scrostatura, Q.Ammaccatura, Q.Imbrattamento, 
       Q.Mancanza, Q.[Mancanze Interne], Q.[Mancanze Esterne], Q.[Danni Interni Totale], 
       Q.[Danni Interni Escluso Mancanze], Q.[Danni Esterni], Q.[Danni non I/E], 
       Q.[Danni FFSS], Q.DRT, Q.WMI, Q.FLU, Q.VAN, Q.CLP, Q.RUS, Q.[Altri Danni], 
       Q.Items_E, Q.Rottura_E, Q.Graffio_E, Q.Scrostatura_E, Q.Ammaccatura_E, Q.Imbrattamento_E, 
       Q.Mancanza_E, Q.[Mancanze Interne_E], Q.[Mancanze Esterne_E], Q.Posizione, 
       Q.Vagone  
UNION 
SELECT H.ID, H.Flags, H.Telaio, H.[TP Partenza], H.POL, H.[POL Descr.], H.POD, H.[POD Descr.], 
       H.Modello, H.[Mod.Descr], H.[Data Partenza], K.[TP Arrivo], K.[N° Q-K], K.[Data Arrivo], 
       K.Items, K.Rottura, K.Graffio, K.Scrostatura, K.Ammaccatura, K.Imbrattamento, 
       K.Mancanza, K.[Mancanze Interne], K.[Mancanze Esterne], K.[Danni Interni Totale], 
       K.[Danni Interni Escluso Mancanze], K
       .[Danni Esterni], K.[Danni non I/E], K.[Danni FFSS], K.DRT, K.WMI, K.FLU, 
       K.VAN, K.CLP, K.RUS, K.[Altri Danni], '02/01/2010', '02/05/2010', K.Items_E, 
       K.Rottura_E, K.Graffio_E, K.Scrostatura_E, K.Ammaccatura_E, K.Imbrattamento_E, 
       K.Mancanza_E, K.[Mancanze Interne_E], K.[Mancanze Esterne_E], K.Posizione, 
       K.Vagone
FROM   (
           SELECT AGR_Perizie.ID, telaio, idTipoPerizia AS [TP Partenza], 
                  dataperizia AS [Data Partenza], IdPortL AS POL, P1.Descr AS 
                  [POL Descr.], IdPortD AS POD, P2.Descr AS [POD Descr.], MO.IDModelloCasa AS 
                  Modello, MO.Descr AS [Mod.Descr], AGR_Perizie.Flags
           FROM   agr_perizie ( NOLOCK )
            LEFT JOIN agr_perizie_dett(NOLOCK)
            	ON  agr_perizie.ID = agr_perizie_dett.IDPerizia
            INNER JOIN agr_porti AS P1 ( NOLOCK )
            	ON  agr_perizie.idportl = P1.ID
            INNER JOIN agr_porti AS P2 ( NOLOCK )
            	ON  agr_perizie.idportd = P2.ID
            INNER JOIN agr_ModelliAuto AS MO ( NOLOCK )
            	ON  agr_perizie.IdModello = MO.Id
           WHERE  dataperizia BETWEEN '02/01/2010' AND '02/05/2010'
             AND IDSpedizione = 'F0840004'
             AND idtipoperizia = 'H'
       ) AS H
 LEFT OUTER JOIN (
          SELECT telaio, idtipoperizia AS [TP Arrivo], dataperizia AS 
                 [Data Arrivo], IdPortL AS POL, P1.Descr AS [POL Descr.], 
                 IdPortD AS POD, P2.Descr AS [POD Descr.], MO.IDModelloCasa AS 
                 Modello, MO.Descr AS [Mod.Descr], CASE 
                                                        WHEN COUNT ( agr_perizie_dett.ID ) 
                                                             > 0 THEN '1'
                                                        ELSE ''
                                                   END AS [N° Q-K], (
                     SELECT COUNT ( D.ID )
                     FROM   agr_perizie_dett AS D ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d.Flags & 2048 = 0
                 ) AS Items, (
                     SELECT COUNT ( D1.id )
                     FROM   agr_perizie_dett AS D1 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d1.iddanno = '1'
                       AND d1.Flags & 2048 = 0
                 ) AS Rottura, (
                     SELECT COUNT ( D2.id )
                     FROM   agr_perizie_dett AS D2 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d2.iddanno = '2'
                       AND d2.Flags & 2048 = 0
                 ) AS Graffio, (
                     SELECT COUNT ( D3.id )
                     FROM   agr_perizie_dett AS D3 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d3.iddanno = '3'
                       AND d3.Flags & 2048 = 0
                 ) AS Scrostatura, (
                     SELECT COUNT ( D4.id )
                     FROM   agr_perizie_dett AS D4 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d4.iddanno = '4'
                       AND d4.Flags & 2048 = 0
                 ) AS Ammaccatura, (
                     SELECT COUNT ( D5.id )
                     FROM   agr_perizie_dett AS D5 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d5.iddanno = '5'
                       AND d5.Flags & 2048 = 0
                 ) AS Imbrattamento, (
                     SELECT COUNT ( D6.id )
                     FROM   agr_perizie_dett AS D6 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d6.iddanno = '6'
                       AND d6.Flags & 2048 = 0
                 ) AS Mancanza, (
                     SELECT COUNT ( D7.id )
                     FROM   agr_perizie_dett AS D7 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d7.iddanno = '6'
                       AND d7.flags & 512 <> 0
                       AND d7.Flags & 2048 = 0
                 ) AS [Mancanze Interne], (
                     SELECT COUNT ( D8.id )
                     FROM   agr_perizie_dett AS D8 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d8.iddanno = '6'
                       AND d8.flags & 1024 <> 0
                       AND d8.Flags & 2048 = 0
                 ) AS [Mancanze Esterne], (
                     SELECT COUNT ( D9.id )
                     FROM   agr_perizie_dett AS D9 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d9.flags & 512 <> 0
                       AND d9.Flags & 2048 = 0
                 ) AS [Danni Interni Totale], (
                     SELECT COUNT ( D9b.id )
                     FROM   agr_perizie_dett AS D9b ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d9b.iddanno <> '6'
                       AND d9b.flags & 512 <> 0
                       AND d9b.Flags & 2048 = 0
                 ) AS [Danni Interni Escluso Mancanze], (
                     SELECT COUNT ( D10.id )
                     FROM   agr_perizie_dett AS D10 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d10.flags & 1024 <> 0
                       AND d10.Flags & 2048 = 0
                 ) AS [Danni Esterni], (
                     SELECT COUNT ( D12.id )
                     FROM   agr_perizie_dett AS D12 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d12.flags & 1024 = 0
                       AND d12.flags & 512 = 0
                       AND d12.Flags & 2048 = 0
                 ) AS [Danni non I/E], (
                     SELECT COUNT ( D11.id )
                     FROM   agr_perizie_dett AS D11 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d11.IDAttribuzione IN ( 'DRT', 'FLU', 'WMI', 'VAN', 'CLP', 'RUS' )
                       AND d11.Flags & 2048 = 0
                 ) AS [Danni FFSS], (
                     SELECT COUNT ( D13.id )
                     FROM   agr_perizie_dett AS D13 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d13.IDAttribuzione = 'DRT'
                       AND d13.Flags & 2048 = 0
                 ) AS DRT, (
                     SELECT COUNT ( D14.id )
                     FROM   agr_perizie_dett AS D14 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d14.IDAttribuzione = 'WMI'
                       AND d14.Flags & 2048 = 0
                 ) AS WMI, (
                     SELECT COUNT ( D15.id )
                     FROM   agr_perizie_dett AS D15 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d15.IDAttribuzione = 'FLU'
                       AND d15.Flags & 2048 = 0
                 ) AS FLU, (
                     SELECT COUNT ( D16.id )
                     FROM   agr_perizie_dett AS D16 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d16.IDAttribuzione = 'VAN'
                       AND d16.Flags & 2048 = 0
                 ) AS VAN, (
                     SELECT COUNT ( D17.id )
                     FROM   agr_perizie_dett AS D17 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d17.IDAttribuzione = 'CLP'
                       AND d17.Flags & 2048 = 0
                 ) AS CLP, (
                     SELECT COUNT ( DRUS.id )
                     FROM   agr_perizie_dett AS DRUS ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND DRUS.IDAttribuzione = 'RUS'
                       AND DRUS.Flags & 2048 = 0
                 ) AS RUS, (
                     SELECT COUNT ( D18.id )
                     FROM   agr_perizie_dett AS D18 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d18.flags & 512 = 0
                       AND d18.IDAttribuzione NOT IN ( 'DRT', 'FLU', 'WMI', 'VAN', 'CLP', 'RUS' )
                       AND d18.iddanno <> '6'
                       AND d18.Flags & 2048 = 0
                 ) AS [Altri Danni], (
                     SELECT COUNT ( D19.ID )
                     FROM   agr_perizie_dett AS D19 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND d19.Flags & 2048 <> 0
                 ) AS Items_E, (
                     SELECT COUNT ( D20.id )
                     FROM   agr_perizie_dett AS D20 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D20.iddanno = '1'
                       AND D20.Flags & 2048 <> 0
                 ) AS Rottura_E, (
                     SELECT COUNT ( D21.id )
                     FROM   agr_perizie_dett AS D21 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D21.iddanno = '2'
                       AND D21.Flags & 2048 <> 0
                 ) AS Graffio_E, (
                     SELECT COUNT ( D22.id )
                     FROM   agr_perizie_dett AS D22 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D22.iddanno = '3'
                       AND D22.Flags & 2048 <> 0
                 ) AS Scrostatura_E, (
                     SELECT COUNT ( D23.id )
                     FROM   agr_perizie_dett AS D23 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D23.iddanno = '4'
                       AND D23.Flags & 2048 <> 0
                 ) AS Ammaccatura_E, (
                     SELECT COUNT ( D24.id )
                     FROM   agr_perizie_dett AS D24 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D24.iddanno = '5'
                       AND D24.Flags & 2048 <> 0
                 ) AS Imbrattamento_E, (
                     SELECT COUNT ( D25.id )
                     FROM   agr_perizie_dett AS D25 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D25.iddanno = '6'
                       AND D25.Flags & 2048 <> 0
                 ) AS Mancanza_E, (
                     SELECT COUNT ( D26.id )
                     FROM   agr_perizie_dett AS D26 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D26.iddanno = '6'
                       AND D26.flags & 512 <> 0
                       AND D26.Flags & 2048 <> 0
                 ) AS [Mancanze Interne_E], (
                     SELECT COUNT ( D27.id )
                     FROM   agr_perizie_dett AS D27 ( NOLOCK )
                     WHERE  idperizia = agr_perizie.ID
                       AND D27.iddanno = '6'
                       AND D27.flags & 1024 <> 0
                       AND D27.Flags & 2048 <> 0
                 ) AS [Mancanze Esterne_E], CASE PositionUpper
                                                 WHEN 'L' THEN 'Lower'
                                                 WHEN 'U' THEN 'Upper'
                                                 ELSE 'Unknown'
                                            END AS Posizione, IDWagon AS Vagone
          FROM   agr_perizie ( NOLOCK )
           LEFT JOIN agr_perizie_dett(NOLOCK)
           	ON  agr_perizie.ID = agr_perizie_dett.IDPerizia
           LEFT JOIN agr_perizieexpfiat AS PEF ( NOLOCK )
           	ON  agr_perizie.id = pef.id
           INNER JOIN agr_porti AS P1 ( NOLOCK )
           	ON  agr_perizie.idportl = P1.ID
           INNER JOIN agr_porti AS P2 ( NOLOCK )
           	ON  agr_perizie.idportd = P2.ID
           INNER JOIN agr_ModelliAuto AS MO ( NOLOCK )
           	ON  agr_perizie.IdModello = MO.Id
          WHERE  DataPerizia > '02/01/2010'
            AND IDSpedizione = 'F0840004'
            AND idtipoperizia = 'K'
          GROUP BY
                 Telaio, idtipoperizia, dataperizia, idportl, idportd, idmodello, 
                 P1.Descr, P1.Descr, P2.Descr, MO.IDModelloCasa, Mo.Descr, 
                 IDDanno, agr_perizie_dett.flags, agr_perizie.ID, PositionUpper, 
                 IDWagon
      ) AS K
 	ON  H.Telaio = K.Telaio
    AND H.POL = K.POL
    AND H.POD = K.POD
    AND H.Modello = K.Modello
GROUP BY
       H.ID, H.Flags, H.Telaio, H.[TP Partenza], H.POL, H.[POL Descr.], H.POD, H.[POD Descr.], 
       H.Modello, H.[Mod.Descr], H.[Data Partenza], K.[TP Arrivo], K.[N° Q-K], K.[Data Arrivo], 
       K.Items, K.Rottura, K.Graffio, K.Scrostatura, K.Ammaccatura, K.Imbrattamento, 
       K.Mancanza, K.[Mancanze Interne], K.[Mancanze Esterne], K.[Danni Interni Totale], 
       K.[Danni Interni Escluso Mancanze], K.[Danni Esterni], K.[Danni non I/E], 
       K.[Danni FFSS], K.DRT, K.WMI, K.FLU, K.VAN, K.CLP, K.RUS, K.[Altri Danni], 
       K.Items_E, K.Items_E, K.Rottura_E, K.Graffio_E, K.Scrostatura_E, K.Ammaccatura_E, 
       K.Imbrattamento_E, K.Mancanza_E, K.[Mancanze Interne_E], K.[Mancanze Esterne_E], 
       K.Posizione, K.Vagone
ORDER BY
       1 DESC 


</pre>
</div>